body {
   font-family: Helvetica, sans-serif;
   font-size: 10pt;
}

/* Selects all label immediately following <input> elements with type="text" */
input[type=text] + label {
   display: block;
}

/* Selects <input> elements with type="text" */
input[type=text] {
   width: 350px;
   padding: 8px;
   margin-top: 4px;
   margin-bottom: 12px;
   border-radius: 4px;
   box-sizing: border-box;
}

/* Selects <input> elements with type="text" and class error */
input[type=text].error {
    border: 2px solid red;
}

/* Selects <input> elements with type="text" and without class error */
input[type=text]:not(.error) {
    border: 1px solid #aaa;
}

/* Selects all label immediately following <input> elements with type="radio" */
input[type=radio] + label {
   cursor: pointer;
   margin-right: 20px;
   margin-left: 20px;
   font-size: 10pt;
}

/* Selects <input> elements with type="radio" */
input[type=radio] { 
    position: fixed;
    opacity: 0; /* Hide radio button */
}

/* 
 * The :: is a pseudoelement selector that selects different parts of the 
 * selected element. In the below selector, the ::before selects the 
 * part of the webpage immedaitely before the label, where we will draw our 
 * button using CSS.
 *
 * So, this selector selects the content before any label immediately 
 * following <input> elements with type="radio"
 *
 */
input[type=radio] + label::before {
    content: "\00a0";      /* Non-breaking space ensure div is not empty
                            * so it will be displayed */
    border-radius: 10px;   /* Makes the border have a 10px radius, which for a 
                            * 16 x 16px area appears as a circles */
    font-size: 10pt;
    display: inline-block; /* inline-block enables both width and height to be 
                            * specified in px */
    width: 16px;            
    height: 16px;  
    text-align: center;
    line-height: 1.26em;   /* Use of em allows for precise control of the line 
                            * to ensure the dot drawn in the middle is correctly
                            * positioned */
    margin-right: 10px;
    border: 0.125em solid white;   /* This draw the outside white border */
    background-color: #aaa;
}

/* 
 * The : is a pseudoclass selector that selects an element based on the state of 
 * the element. For example, :checked selects elements that are checked. 
 *
 * So, this selector selects the content before any label immediately 
 * following <input> elements with type="radio" that are checked
 *
 */
input[type=radio]:checked + label::before {
    content: "\2022";           /* Displays a bullet character (\2022) for the 
                                 * checked button */
    color: #fff;
    background: green;          /* Changes the background for the checked button */
    box-shadow: 0 0 0 1px gray; /* Creates a 1px gray shadown surrounding the 
                                 * checked button */
}

button {
   width: 100%;
   color: white;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin-top: 20px;
   margin-bottom: 0px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:hover {
   background-color: #07d;
}

table {
    width: 100%;
}

.SavingsCalculator {
   background-color: #eee;
   padding: 10px;
   width: 350px;
}

.SavingsTable {
    font-weight: lighter;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px white solid;
}

.SavingsTable th {
    background-color: #07d;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.SavingsTable td {
    background-color: rgb(200, 200, 200);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}

/* Selects the td that is the first child od a tr (i.e., the first column) */
.SavingsTable tr td:first-child {
    text-align: center;
}