extends layout

block content
  div(class="row")
    div(class="col s12 m6")
       h5(class="grey-text text-darken-4")=title
       div(class="collection")
          p(class="collection-item") Oatmeal Cookie Recipe
          ol
             li 
                a(class="collection-item" href="/recipev1.html") Oatmeal Cookie Recipe v1
             li 
                a(class="collection-item" href="/recipev2.html") Oatmeal Cookie Recipe v2
             li 
                a(class="collection-item" href="/recipev3.html") Oatmeal Cookie Recipe v3
             li 
                a(class="collection-item" href="/recipev4.html") Oatmeal Cookie Recipe v4
             li 
                a(class="collection-item" href="/binaryeats.html") Binary Eats with Responsive Design
             li 
                a(class="collection-item" href="/binaryeats-flex.html") Binary Eats with Flexbox
       div(class="collection")
          p(class="collection-item") Savings Calculator
          ol
             li 
                a(class="collection-item" href="/savings_calc/v1/savingscalc.html") Savings Calculator v1
             li 
                a(class="collection-item" href="/savings_calc/v2/savingscalc.html") Savings Calculator v2
             li 
                a(class="collection-item" href="/savings_calc/v3/savingscalc.html") Savings Calculator v3
             li 
                a(class="collection-item" href="/savings_calc/jQuery/savingscalc.html") Savings Calculator v3 (using jQuery)
       div(class="collection")
          p(class="collection-item") Shipping Calculator (Ajax)
          ol
             li 
                a(class="collection-item" href="/shipping/shipping.html") Shipping Calculator
       div(class="collection")
          p(class="collection-item") IP Locator
          ol
             li 
                a(class="collection-item" href="/iplocator/ipapi.html") IP Locator
             li
                a(class="collection-item" href="/iplocator-jquery/ipapi.html") IP Locactor (using jQuery)
       div(class="collection")
          p(class="collection-item") JSON POSTer
          ol
             li 
                a(class="collection-item" href="/json/jsonposter.html") JSON POSTer
       div(class="collection")
          p(class="collection-item") Holz App
          ol
             li 
                a(class="collection-item" href="/holz/home.html") Holz
             li 
                a(class="collection-item" href="/holz/index.html") Signin
             li 
                a(class="collection-item" href="/holz/register.html") Register

